# general stuff
MANIFEST="MANIFESTS/I2024-015and17"
OUTDIR="CMC_DB/I2024-015and17"
FORCE="false" # set as "true" if you want to overwrite existing data

# force option not currently working - will address it when I need to rerun something

# making sure conda envs can be loaded 
CONDA_SH_PATH="/home/cwwalsh/miniconda3/etc/profile.d/conda.sh"
